
.input {
  width: 150px;
  height: 38px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8);

  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #d2d2d2;
  outline: none;
  //border-bottom: solid 1px #b4b4b4;
  padding: 4px 2px;
  box-sizing: border-box;

  margin-bottom: 15px;

  &:focus {
    border-bottom: solid 2px black;
    //padding-bottom: 2px;
    transition-property: border-bottom;
    transition-duration: 0.3s;
  }
}

.field_input {
  display: flex;
  flex-direction: column;

}